.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 984px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 100%;
  }
}
