.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  word-break: normal;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 2vw;
    line-height: 163%;
    margin: 0;
    word-break: break-all;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    word-break: normal;
  }
}
